<arrow-up id="futuro" [acceso]="permitir" [ruta]="rutaUp"></arrow-up>
<section class="background-muted">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <h4>¿QUÉ ENTENDEMOS POR EMPRESA?</h4>
      <p>Empresa es un sistema en que las personas se asocian para alcanzar resultados que
        de otra forma son inalcanzables por si solos.
        Por eso es fundamental desarrollar un modelo organizacional basado en relaciones auténticas y honorables entre
        los seres humanos.</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>¿CÓMO SOBREVIVE UNA EMPRESA EN EL FUTURO?</h4>
      <p>Para mantenerse viva una organización, necesita integrar en su visión compartida, las visiones individuales de
        sus miembros. Si estos no ven a su trabajo como un medio para alcanzar el futuro que cada uno desea, esa
        organización rápidamente entrará en vías de extinción.</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>LA COMPETENCIA MÁS IMPORTANTE HOY.</h4>
      <p>Tal vez hoy, la competencia más importante de los seres humanos y de las organizaciones sea la capacidad de “procesar” los errores para convertirlos en oportunidades de mejora, dado que son, justamente, la materia prima para el crecimiento.</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4>LA ESENCIA DE LAS ORGANIZACIONES HOY.</h4>
      <p>La esencia de la organización debe ser el espacio de comunicación, en el cual sus integrantes pueden desarrollar vínculos productivos y sinérgicos. Dado esto, la gran tarea del Líder es establecer y mantener una cultura que apoye este tipo de vínculos.</p>
    </div>
  </div>
</section>
<arrow-down [acceso]="permitir" [ruta]="rutaDown"></arrow-down>
