<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 movil-fix">
        <h3>Chile
          <img src="../../../assets/img/banderas/chile.svg" width="20">
        </h3>
        <p>
          <a href="mailto:contacto@humantouch.cl?subject=Consulta HumanTouch - CHILE"><i class="ion-ios-mail"></i> contacto@humantouch.cl</a>
        </p>
        <p>Manquehue Norte #151 - Of. 909 Las Condes - Santiago - Chile</p>
      </div>
      <div class="col-md-4 movil-fix padding-fix">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/HumanTouchRRHH" target="_blank" title="HumanTouch en Twitter">
              <i class="ion-logo-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/humantouch-consultoresltores/" target="_blank" title="HumanTouch en Linkedin">
              <i class="ion-logo-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="tel:+56985278761" title="Contacto 1">
              <i class="ion-ios-call"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="tel:+56955303295" title="Contacto 2">
              <i class="ion-ios-phone-portrait"></i>
            </a>
          </li>
        </ul>
        <p>
          <span class="copyright">Copyright &copy; HUMANTOUCH. Todos los derechos reservados.</span>
        </p>
      </div>
      <div class="col-md-4 movil-fix">
        <h3>Colombia
          <img src="../../../assets/img/banderas/colombia.svg" width="20">
        </h3>
        <p>
          <a href="mailto:contacto@humantouch.cl?subject=Consulta HumanTouch - COLOMBIA"><i class="ion-ios-mail"></i> contacto@humantouch.cl</a>
        </p>
        <p>Carrera 16 #134 A-40 - Apto.303 - Bogotá - Colombia</p>
      </div>
    </div>
  </div>
  <hr>
  <p class="autor">Designed by <a href="https://gag-5e854.firebaseapp.com/">Cristian González</a></p>
</footer>
