<!-- <header class="masthead">
   <div class="container">
    <div class="intro-text">
      <div class="text-center">
        <div class="intro-lead-in color-dark back-color"><span class="fix-text">Bienvenido a <span class="human-red">Human</span>Touch!</span></div>
        <div class="intro-heading text-uppercase color-dark consultores">Consultores</div>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Ver más</a>
    </div>
  </div>
</header> -->
<div class="" style="height: 700px; background: #fcfcfc">
  <div class="container contenedor">
    <div class="intro-text back">
      <svg class="circulo-gris" height="100" width="100">
        <circle cx="50" cy="50" r="40" fill="#2C2C2C" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <svg class="circulo-rojo" height="100" width="100">
        <circle cx="50" cy="50" r="40" fill="#C01515" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div class="text-center">
        <img class="logoResp" src="../../../assets/img/logo_humantouch2.png" draggable="false">
      </div>
      <br>
      <div style="margin-top: 2%" class="text-center">
        <a class="verMas btn btn-primary btn-xl text-uppercase js-scroll-trigger start"
          (click)="this.scrollservice.moveTo('services')">Ver más</a>
      </div>
    </div>
  </div>
