.icon {
  width: 85%;
}

.img-q {
  padding-top: 3px;
}

.img-o {
  padding-top: 10px;
  padding-left: 3px;
}

/* .team-member {
  -webkit-transform: scale(.95) !important;
  transform: scale(.95) !important;
} */
